.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border-radius: 300px;
    /* background-color: red; */
    z-index: 1;
}

.outerRound {
    /* display: none; */
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background: linear-gradient(#999696, #dbdbe2);
    border: 4px solid rgba(37, 36, 35, 0.847);
    position: relative;
    z-index: 1;
}

.digitsContainer {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    position: relative;
    font-weight: 800;
    font-size: 24pt;
    font-family: 'Courier New', Courier, monospace;
}


.dials {
    position: relative;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.dials>span.dial {
    transform-origin: 50% 150px;
    position: absolute;
    width: 2px;
    height: 20px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(10, 36, 34);
}

.dials>span.dial:nth-child(5n) {
    width: 5px;
    height: 30px;
}

.timeDigit {
    position: absolute;
    color: rgb(10, 36, 34);
}

.h1 {
    top: 15%;
    margin-left: 195px;
}

.h2 {
    /* display: none; */
    top: 26%;
    margin-left: 230px;
}

.h3 {
    /* display: none; */
    top: 44%;
    margin-left: 245px;
}

.h4 {
    /* display: none; */
    bottom: 26%;
    margin-left: 230px;
}

.h5 {
    /* display: none; */
    bottom: 15%;
    margin-left: 195px;
}

.h6 {
    /* display: none; */
    bottom: 10%;
    margin-left: 140px;
}

.h7 {
    /* display: none; */
    bottom: 15%;
    margin-left: 90px;
}

.h8 {
    /* display: none; */
    bottom: 26%;
    margin-left: 50px;
}

.h9 {
    /* display: none; */
    top: 44%;
    margin-left: 35px;
}

.h10 {
    /* display: none; */
    top: 26%;
    margin-left: 50px;
}

.h11 {
    /* display: none; */
    top: 15%;
    margin-left: 80px;
}

.h12 {
    /* display: none; */
    top: 10%;
    margin-left: 130px;
}


.needles {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: brown;
    position: absolute;
    justify-self: center;
}

.hourNeedle {
    transform-origin: bottom center;
    width: 12px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background: linear-gradient(#171616, #797472);
    position: absolute;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
}

.minuteNeedle {
    transform-origin: bottom center;
    width: 8px;
    height: 145px;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background: linear-gradient(#171616, #797472);
    position: absolute;

}

.secondNeedle {
    transform-origin: bottom center;
    width: 4px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    padding: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background: linear-gradient(#fc2003, #e8640b);
    position: absolute;
    
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #595959;
    position: absolute;
    box-shadow: 4px 4px 4px #595959bb;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid;
    background: linear-gradient(217deg, rgba(10, 10, 10, 0.8), rgba(83, 80, 80, 0.7) 70.71%),
        linear-gradient(127deg, rgba(40, 42, 40, 0.8), rgba(10, 10, 10, 0.7) 50.71%),
        linear-gradient(336deg, rgba(34, 34, 35, 0.8), rgba(236, 236, 243, 0.8) 70.71%);
}

.controlButtons {
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: -11; */
}

.controlButtons>div {
    height: 40px;
    width: 40px;
    background: linear-gradient(rgb(51, 50, 50) 0%, rgb(122, 121, 118) 10% 30%, rgb(36, 36, 34) 50% 70%, rgb(22, 23, 22) 90% 100%);
    border-radius: 20px;
    display: inline-block;
    z-index: -2;
    transform-origin: center;
    position: absolute;
    display: flex;
    /* background-color: red; */
}

.controlButtons button {
    color: #c7c1c1;
    background: linear-gradient(rgb(51, 50, 50) 0%, rgb(122, 121, 118) 10% 30%, rgb(36, 36, 34) 50% 70%, rgb(22, 23, 22) 90% 100%);
    width: 100%;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 8px 4px 4px #595959bb;
    /* z-index: 4; */
}

.buttonHPlus {
    margin-top: -100px;
    margin-left: -360px;
    transform: rotateZ(28deg);
}

.buttonHMinus {
    margin-top: 60px;
    margin-left: -360px;
    transform: rotateZ(-28deg);
}

.buttonMPlus {
    margin-top: -100px;
    margin-left: -28px;
    transform: rotateZ(-28deg);
}

.buttonMPlus > button, .buttonMMinus > button {
    text-align: end;
}

.buttonMMinus {
    margin-top: 60px;
    margin-left: -30px;
    transform: rotateZ(28deg);
}

.buttonSet {
    margin-top: -20px;
    margin-left: -4px;
}

.clockBody {
    padding: 0px;
    border: 4px solid rgba(37, 36, 35, 0.847);
    border-radius: 600px;
    height: 340px;
    width: 340px;
    background: linear-gradient(rgb(184, 177, 177) 0%, rgb(90, 88, 85) 10%, rgb(109, 104, 96) 30%, rgb(86, 86, 84) 50%, rgb(59, 59, 54) 70%, rgb(52, 53, 52) 90%, rgb(58, 60, 58) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 4px 4px #595959bb;
    /* z-index: 1; */
}