.languagesButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
}

.languagesButtons button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 2px;
    margin: 4px;
    padding: 0 4px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.currentSelectionLanguage button {
    background-color: rgb(205, 205, 205);
    pointer-events: none;
}

.otherLanguages button {
    background-color: rgb(245, 245, 245);
}

.languagesButtonsHover {
    height: 200px;
}

.languagesButtonsHover button {
    width: 120px;
    border: 1px solid black;
    color: black;
}

.nativeNameText {
    font-size: 12pt;
    line-height: 20pt;
    margin-top: auto;
    margin-bottom: auto;
}

.languageEmoji {
    font-size: 16pt;
    float: left;
    /* font-weight: 200; */
}

/* Preventing clicks on disabled buttons */
.disabledButton {
    pointer-events: none;
}