.languagesButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
}

.languagesButtons button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 2px;
    margin: 4px;
    padding: 0 4px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.currentSelectionLanguage button {
    background-color: rgb(205, 205, 205);
    pointer-events: none;
}

.otherLanguages button {
    background-color: rgb(245, 245, 245);
}

.languagesButtonsHover button {
    width: 120px;
    border: 1px solid black;
    color: black;
}

.nativeNameText {
    font-size: 12pt;
    line-height: 16pt;
    margin-top: auto;
    margin-bottom: auto;
}

.languageEmoji {
    font-size: 16pt;
    float: left;
    line-height: 16pt;
}

.singleLangIcon .languageEmoji {
    margin-left: 1px;
    line-height: 20px;
}

/* Windows doesn't have native support of coupling emojies to flags, so showing short name of language */
.winLangMark {
    line-height: 16pt;
    font-size: 12pt;
}

/* Preventing clicks on disabled buttons */
.disabledButton {
    pointer-events: none;
}