.languagesButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.languagesButtons button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 2px;
    margin: 4px;
    padding: 0 4px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.currentSelectionLanguage button {
    background-color: rgb(205, 205, 205);
    /* border: 20px; */
    /* border-width: 2px; */
    pointer-events: none;
}

.otherLanguages button {
    background-color: rgb(245, 245, 245);
}

.languagesButtonsHover button {
    width: 120px;

    border:  1px solid black;
    color: black;
}



.nativeNameText {
    font-size: 12pt;
    line-height: 20pt;
    margin-top: auto;
    margin-bottom: auto;
}

.languageEmoji {
    font-size: 16pt;
    float: left;
}
/* 
.languagesButtons:hover button {
    width: 120px;
    background-color: whitesmoke;
    border:  1px solid black;
    color: black;

} */

.disabledButton {
    pointer-events: none;
}


@media screen and (max-width: 800px) {
    .languagesButtons:hover button {
        /* width: 120px; */
        /* background-color: rgb(111, 47, 47); */
        /* border-color: black; */
    }
}