/* Clock's display area */

.clockContainer {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    background: linear-gradient(#b1b5ab, #5f605e);
    border-radius: 30px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 228px;
    padding: 0px 24px 4px 24px;
    height: 84px;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Container for svg of clock body */
.svgContainer {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Container for clock */

.digitalClockContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

/* Svg styling */

.clockBody svg {
    max-height: 100vh;
    max-width: 100vw;
    width: 100%;
    height: 100%;
  }

.clockFrontLeftFace {
    fill: url(#clockFrontFaceLeftGradient);
    stroke: url(#clockBezelGradient);
}

.clockFrontRightFace {
    fill: url(#clockFrontFaceRightGradient);
    stroke: url(#clockBezelGradient);
}

.clockFrontCenterFace {
    fill: url(#clockFrontFaceCenterGradient);
}

.clockStandLeft {
    fill: url(#clockStandLeftGradient);
    stroke: url(#clockStandLeftGradient);
}

.clockStandRight {
    fill: url(#clockStandRightGradient);
    stroke: url(#clockStandRightGradient);
}

.clockBezel {
    stroke: url(#clockBezelGradient);
}

/* Clock separator */
.separator {
    margin-top: -8px;
    margin-bottom: 0;
    background-color: none;
    font-size: 72px;
}

/* Time settings buttons */
.controlButtons {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    border-radius: 40px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 24px;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.controlButtons button {
    width: 50px;
    text-align: center;
    margin-bottom: 4px;
    border-radius: 20px;
    border: 2px solid rgba(87, 84, 84, 0.547);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(0 0 0 / 20%);
    cursor: pointer;
}

.controlButtons span {
    width: 30px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(60deg, #858985, #525450, #2a2a29);
}

/* Modify apperence on iteraction */
.controlButtons button:active {
    transform: scale(95%);
    margin-bottom: -4px;
}

@media (hover: hover) {
    .controlButtons button:hover {
        transform: scale(105%);
        margin-bottom: 12px;
    }

    .controlButtons button:active {
        transform: scale(95%);
        margin-bottom: -4px;
    }
}