.modalContainer {
    background: linear-gradient(#999696, #dbdbe2);
    width: 50vw;
    height: 40vh;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 16px;
    border-top-right-radius: 5px;
}

.closeButton {
    position: absolute;
    top: 0;
    margin-top: -2px;
    right: 0;
}

@media screen and (max-width: 800px) {
    .modalContainer {
        width: 90vw;
        height: 20vh;
        top: 70%;;
    }
}