.headerContainer {
    display: grid;
    padding: 4px;
    /* border-radius: 8px; */
    text-align: center;
    grid-template-columns: 4% 39% 57%;
    grid-template-rows: 1fr;
    /* background-color: blue; */
}

.appHeading {
    grid-column: 2/3;
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: bisque; */
    
}

.appHeadingText {
    font-size: 20pt;
    line-height: 20pt;
    padding: 0;
    padding-bottom: 4px;
    margin: 0;
    /* background-color: red; */
    grid-column: 2/3;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* background-color: bisque; */
}

.languageSwitch {
    grid-column: 1/2;
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
}

.navLinks {
    display: flex;
    grid-column: 3/4;
    justify-content: space-around;
    align-items: center;
}

.link {
    text-decoration: none;
    padding: 0px 8px;
    font-size: small;
    color: black;
    border-bottom: 1px solid;
    margin: 2px;
    line-height: 16px;
}

.activeLink {
    text-decoration: none;
    margin: 2px;
    padding: 0px 8px;
    color: whitesmoke;
    border-bottom: 2px solid;
    font-size: smaller;
    line-height: 16px;
}

.disabledButton {
    pointer-events: none;
}

.link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .headerContainer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 50px 1fr 50px;
    }

    .appHeading {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .languageSwitch {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .navLinks {
        flex-direction: column;
        grid-column: 1/4;
        grid-row: 2/3;
        gap: 8px;
    }

    .link,
    .activeLink {
        width: 80%;
        line-height: 4px;
    }
}