body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer {
  background: linear-gradient(#37b6e4, #65b2ae);
}


@font-face {
  font-family: "Monserrat";
  src: local("Monserrat"),
   url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
 }

 @media screen and (max-width: 900px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 }