/* Styling to place segments in form of digit */
.digitsContainer {
    display: flex;
    height: 84px;
}

.leftSegments {
    margin-right: -2px;
}

.leftSegments,
.rightSegments {
    margin-top: 14px;
}

.centralSegments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightSegments {
    margin-left: -2px;
}

.centralSegmentSeconds {
    margin-top: 0.5pt;
}

.leftSegmentsSeconds {
    margin-right: -2px;
}

.leftSegmentsSeconds,
.rightSegmentsSeconds {
    margin-top: 9.5pt;
}

.rightSegmentsSeconds {
    margin-left: -2px;
}

.digitsContainerSeconds {
    display: flex;
}

.inActiveSegment {
    fill: transparent;
}

.activeSegment {
    fill: url(#Gradient1);
    stroke: url(#Gradient1);
}
