.digitsContainer {
    display: flex;
    height: 84px;
}

.leftSegments {
    margin-right: -2px;
}

.leftSegments,
.rightSegments {
    margin-top: 14px;
}

.centralSegments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightSegments {
    margin-left: -2px;
}

.centralSegment {
    margin-top: -0.03em;
    ;
}

.leftSegmentsSeconds {
    margin-right: -2px;
}

.leftSegmentsSeconds,
.rightSegmentsSeconds {
    margin-top: 0.8em;
}


.rightSegmentsSeconds {
    margin-left: -2px;
}

.digitsContainerSeconds {
    display: flex;
}

.inActiveSegment {
    fill: transparent;
}

.activeSegment {
    fill: url(#Gradient1);
    stroke: url(#Gradient1);
}

.stop1 {
    stop-color: #1d1e1d;
}

.stop2 {
    stop-color: #525450;
    stop-opacity: 1;
}

.stop3 {
    stop-color: #2a2a29;
}